@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Source+Code+Pro:wght@600&display=swap');

.html {
    margin: 0px;
}

.divide {
    padding: 0;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 20px;
    background: #1e5799;
    background: -moz-linear-gradient(left,  #1e5799 0%, #f300ff 50%, #e0ff00 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(50%,#f300ff), color-stop(100%,#e0ff00));
    background: -webkit-linear-gradient(left,  #1e5799 0%,#f300ff 50%,#e0ff00 100%);
    background: -o-linear-gradient(left,  #1e5799 0%,#f300ff 50%,#e0ff00 100%);
    background: -ms-linear-gradient(left,  #1e5799 0%,#f300ff 50%,#e0ff00 100%);
    background: linear-gradient(to right,  #1e5799 0%,#f300ff 50%,#e0ff00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e0ff00',GradientType=1 );

    height: 3px;
    border-bottom: 1px solid #000;
}

body {
    margin: 0px;
    color: #EEEEEE;
    background-color: #222222;
    padding: 3%;
    font-family: "Open Sans", Serif;
}

p {
    font-size: 30px;
    text-align: center;
    font-family: "Source Code Pro", Serif;
}

.Apresentacao {
    font-size: 40px;
    margin-bottom: 65px;
    text-align: center;
}

.Naga {
    font-size: 50px;
    text-align: center;
    margin-bottom: 65px;
}

.Nitro {
    margin-bottom: 60px;
}

.link {
    font-size: 40px;
    color: red;
}

.link1 {
    font-size: 40px;
    text-align: center;
}

.store {
    color: #6cc312;
}

.Cheat {
    margin-bottom: 60px;
}

.Anual {
    margin-bottom: 100px;
}

.Matchmaking {
    color: #ff94ea;
    font-size: 42px;
}

.Liga {
    color: #ff94ea;
    font-size: 42px;
}

.BBR {
    color: #7149C2;
}

.DiscordNitro {
    color: #7885ff;
}

.NitroClassic {
    color: #ff94ea;
    font-size: 42px;
}

.NitroGaming {
    color: #ff94ea;
    font-size: 42px;
}

.Discord {
    color: aqua;
}

.Discord1 {
    text-align: center;
    font-size: 40px;
}

.Founder {
    color: red;
}